@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Cairo", sans-serif;
}

:root {
  --main-color: #1778c2;
  --btn-hover: #0a4674;
  --btn-active: #7f7c7e;
}

.btnbtn {
  background-color: var(--main-color);
}

.btnbtn:hover {
  background-color: var(--btn-hover);
  border: none;
}

.btnbtn:active {
  background-color: var(--btn-active);
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-next:before,
.slick-prev:before {
  color: grey;
}

.slick-track {
  padding: 10px 0;
}

.spinnerContainer {
  height: calc(100vh - 175px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.smallSpinnerContainer {
  height: calc(100vh - 275px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: transparent;
  border: 10px dotted var(--main-color);
  animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}
