@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Cairo", sans-serif;
}

:root {
  --main-color: #1778c2;
  --btn-hover: #0a4674;
  --btn-active: #7f7c7e;
}

.btnbtn {
  background-color: var(--main-color);
}

.btnbtn:hover {
  background-color: var(--btn-hover);
  border: none;
}

.btnbtn:active {
  background-color: var(--btn-active);
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-next:before,
.slick-prev:before {
  color: grey;
}

.slick-track {
  padding: 10px 0;
}

.spinnerContainer {
  height: calc(100vh - 175px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: transparent;
  border: 10px dotted var(--main-color);
  animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}
.Header {
  width: 100%;
  height: 100px;
  padding: 10px 70px;
  background-color: var(--main-color);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-family: "Cairo", sans-serif;
  box-shadow: 0px 14px 16px 0px rgba(4, 60, 102, 0.2509803922);
}
@media (max-width: 500px) {
  .Header {
    padding: 10px 10px;
  }
}
.Header__right {
  display: flex;
  flex-direction: row-reverse;
}
.Header__right__logo {
  background: white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.8);
}
.Header__right__logo img {
  width: 65%;
}
.Header__right__text {
  color: white;
  direction: rtl;
  padding: 5px;
  margin-right: 15px;
}
.Header__right__text h3 {
  font-weight: 700;
}
@media (max-width: 700px) {
  .Header__right__text h3 {
    font-size: 16px;
  }
}
.Header__left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Header__left button {
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  width: 180px;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}
@media (max-width: 700px) {
  .Header__left button {
    width: 120px;
    height: 50px;
  }
}
@media (max-width: 400px) {
  .Header__left button {
    width: 80px;
    height: 40px;
  }
}

.userName {
  position: relative;
}
.userName button {
  display: flex;
  direction: rtl;
  align-items: center;
  background-color: transparent;
  border: none;
}
.userName button p {
  color: white;
  font-weight: 500;
  margin-right: 5px;
  margin-top: 12px;
}
.userName button img {
  -o-object-fit: contain;
     object-fit: contain;
}
.userName ul {
  position: absolute;
  background: white;
  list-style: none;
  border-radius: 6px;
  padding: 0;
  z-index: 100;
  padding: 0px 23px;
  border: 1px solid lightblue;
}
.userName ul button {
  color: black;
}
.userName ul li:first-of-type {
  border-bottom: 1px solid black;
}
.userName ul button.red {
  color: red;
}

.Landing__hero {
  width: 100%;
  height: 680px;
  background-image: url("../assets/landing.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Cairo", sans-serif;
}
.Landing__hero__text {
  color: white;
  width: 50%;
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 800px) {
  .Landing__hero__text {
    width: 70%;
  }
}
@media (max-width: 500px) {
  .Landing__hero__text {
    width: 85%;
  }
}
.Landing__hero__text p:first-of-type {
  font-size: 42px;
  font-weight: 700;
  line-height: 2;
  text-align: center;
}
.Landing__hero__text p:first-of-type span {
  color: var(--main-color);
}
@media (max-width: 900px) {
  .Landing__hero__text p:first-of-type {
    font-size: 36px;
  }
}
@media (max-width: 400px) {
  .Landing__hero__text p:first-of-type {
    font-size: 27px;
  }
}
.Landing__hero__text p:last-of-type {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 2;
  width: 70%;
  margin: 10px 0;
}
@media (max-width: 900px) {
  .Landing__hero__text p:last-of-type {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .Landing__hero__text p:last-of-type {
    font-size: 10px;
  }
}
.Landing__hero__text button {
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-top: 20px;
}

.Offer {
  height: 200px;
  margin: 20px 0;
  margin: 40px 0;
  font-family: "Cairo", sans-serif;
}
.Offer h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: var(--main-color);
}
.Offer__cards {
  margin-top: 20px;
  display: flex;
}
@media (max-width: 700px) {
  .Offer__cards {
    flex-direction: column;
  }
}
.Offer__cards__card h3 {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
.Offer__cards__card p {
  text-align: center;
  width: 100%;
  direction: rtl;
  padding: 0 80px;
  color: var(--btn-active);
}
@media (max-width: 1100px) {
  .Offer__cards__card p {
    padding: 0 20px;
  }
}
@media (max-width: 700px) {
  .Offer__cards__card {
    margin: 26px 0;
  }
}
.Offer__cards__card:nth-of-type(2) {
  border-top: none;
  border-right: 0.5px solid black;
  border-bottom: none;
  border-left: 0.5px solid black;
}
@media (max-width: 700px) {
  .Offer__cards__card:nth-of-type(2) {
    border: none;
  }
}

.Works {
  width: 100%;
  margin-top: 90px;
  margin-bottom: 40px;
  display: flex;
  font-family: "Cairo", sans-serif;
}
@media (max-width: 700px) {
  .Works {
    margin-top: 350px;
    display: flex;
    justify-content: center;
  }
}
.Works__left {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 700px) {
  .Works__left {
    display: none;
  }
}
.Works__left__circle {
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 320px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.Works__right {
  width: 60%;
  direction: rtl;
  padding: 0 40px;
}
@media (max-width: 700px) {
  .Works__right {
    width: 95%;
  }
}
.Works__right h3 {
  font-size: 40px;
  font-weight: 600;
  color: var(--main-color);
}
.Works__right ol li {
  font-size: 24px;
  font-weight: 500;
  padding: 10px 0;
}
.Works__right ol li p {
  display: inline;
  font-size: 16px;
  font-weight: 400;
}

.Theslider {
  width: 100%;
  text-align: center;
  padding: 50px 0 100px;
  margin-bottom: 80px;
  height: 80vh;
  font-family: "Cairo", sans-serif;
}
@media (max-width: 720px) {
  .Theslider {
    height: 88vh;
  }
}
.Theslider h2 {
  color: var(--main-color);
  font-weight: 600;
  font-size: 40px;
}
.Theslider .cara {
  padding: 0 80px;
}
@media (max-width: 500px) {
  .Theslider .cara {
    padding: 0 35px;
  }
}
.Theslider .cara p:first-of-type {
  color: var(--main-color);
  direction: rtl;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  margin: 0;
}
.Theslider .cara p:nth-child(2) {
  font-weight: 600;
  font-size: 16px;
}
.Theslider .cara p:nth-child(3) {
  font-weight: 600;
  font-size: 12px;
  padding: 0 10px;
  margin: 20px 0;
  color: gray;
}
.Theslider .cardi {
  box-shadow: 0px 4px 8px 0px rgba(42, 42, 42, 0.2509803922);
  overflow: hidden;
  border-radius: 12px;
  min-height: 450px;
  position: relative;
}
.Theslider .cardi .links {
  display: flex;
  gap: 28px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.Footer {
  overflow: hidden;
  font-family: "Cairo", sans-serif;
  height: 75px;
  position: relative;
  bottom: 0;
}
.Footer__in {
  color: white;
  background-color: var(--main-color);
  margin: 20px 0 0 0;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}

.Sign-in {
  font-family: "Cairo", sans-serif;
}
.Sign-in .Sign-in__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 175px);
  width: 100vw;
}
.Sign-in .Sign-in__inner .sign-in__inner__form {
  height: 70vh;
  box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 20px 100px;
}
@media (max-width: 1200px) {
  .Sign-in .Sign-in__inner .sign-in__inner__form {
    padding: 20px 20px;
  }
}
.Sign-in .Sign-in__inner .sign-in__inner__form h2 {
  direction: rtl;
  text-align: center;
  margin: 20px;
}
.Sign-in .Sign-in__inner .sign-in__inner__form form {
  display: flex;
  flex-direction: column;
}
.Sign-in .Sign-in__inner .sign-in__inner__form form select,
.Sign-in .Sign-in__inner .sign-in__inner__form form input {
  direction: rtl;
  margin: 15px 0;
  height: 55px;
  border-radius: 8px;
  padding: 12px;
}
.Sign-in .Sign-in__inner .sign-in__inner__form form .rem {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  height: 20px;
}
.Sign-in .Sign-in__inner .sign-in__inner__form form .rem > div {
  display: flex;
  align-items: center;
}
.Sign-in .Sign-in__inner .sign-in__inner__form form .rem > div > label {
  margin: 5px;
}
.Sign-in .Sign-in__inner .sign-in__inner__form form .rem a {
  text-decoration: none;
}
.Sign-in .Sign-in__inner .sign-in__inner__form form .sub {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
}
.Sign-in .Sign-in__inner .sign-in__inner__form form .sub button {
  width: 52%;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px;
}
.Sign-in .Sign-in__inner .sign-in__inner__form form .sub > div {
  font-size: 12px;
  font-weight: 400;
}
.Sign-in .Sign-in__inner .sign-in__inner__form form .sub > div a {
  text-decoration: none;
}
.Sign-in .Footer__in {
  position: absolute;
  bottom: 0;
}

.Signup {
  font-family: "Cairo", sans-serif;
  position: relative;
}
.Signup .Signup__inner {
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: calc(100vh - 175px);
}
.Signup .Signup__inner .signup__inner__form {
  flex-direction: column;
  display: flex;
  height: 98vh;
  align-items: center;
  box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.2509803922);
  margin: 30px 0;
}
@media (max-width: 1200px) {
  .Signup .Signup__inner .signup__inner__form {
    padding: 20px 20px;
  }
}
.Signup .Signup__inner .signup__inner__form h2 {
  margin: 10px;
}
.Signup .Signup__inner .signup__inner__form form {
  display: flex;
  flex-direction: column;
  width: 85%;
}
.Signup .Signup__inner .signup__inner__form form input[type=number]::-webkit-inner-spin-button,
.Signup .Signup__inner .signup__inner__form form input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.Signup .Signup__inner .signup__inner__form form input[type=number] {
  -moz-appearance: textfield;
}
.Signup .Signup__inner .signup__inner__form form input,
.Signup .Signup__inner .signup__inner__form form select {
  direction: rtl;
  margin: 15px 0;
  height: 55px;
  border-radius: 8px;
  padding: 12px;
  border: 1px solid grey;
}
.Signup .Signup__inner .signup__inner__form form .gender {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.Signup .Signup__inner .signup__inner__form form .gender .male,
.Signup .Signup__inner .signup__inner__form form .gender .female {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.Signup .Signup__inner .signup__inner__form form .gender .male label,
.Signup .Signup__inner .signup__inner__form form .gender .female label {
  margin: 0 10px;
}
.Signup .Signup__inner .signup__inner__form form .sub {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
}
.Signup .Signup__inner .signup__inner__form form .sub button {
  width: 52%;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px;
}
.Signup .Signup__inner .signup__inner__form form .sub > div {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 400;
}
.Signup .Signup__inner .signup__inner__form form .sub > div a {
  text-decoration: none;
}

.Success {
  font-family: "Cairo", sans-serif;
}
.Success__in {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Success__in__card {
  text-align: center;
}
.Success__in__card p {
  font-size: 14px;
  font-weight: 400;
}
.Success__in__card button {
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  transition: all 0.3s;
}
.Success__in__card button:hover {
  background-color: var(--main-color);
  color: white;
}
.Success .Footer__in {
  position: absolute;
  bottom: 0;
}

.Application {
  font-family: "Cairo", sans-serif;
  position: relative;
  height: 125vh;
}
.Application__inner {
  min-height: calc(100vh - 175px);
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 20px;
}
.Application__inner__form {
  flex-direction: column;
  display: flex;
  height: 100%;
  align-items: center;
  box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 20px;
}
@media (max-width: 1200px) {
  .Application__inner__form {
    padding: 20px 20px;
  }
}
.Application__inner__form form {
  display: flex;
  flex-direction: column;
  width: 85%;
}
.Application__inner__form form input[type=file] {
  display: none;
}
.Application__inner__form form label,
.Application__inner__form form .btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.Application__inner__form form label img {
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 10px;
}
.Application__inner__form form label p {
  color: gray;
  font-weight: 500;
  font-size: 16px;
}
.Application__inner__form form div,
.Application__inner__form form select {
  direction: rtl;
  margin: 15px 0;
  height: 55px;
  border-radius: 8px;
  padding: 12px;
}
.Application__inner__form form .btns {
  border: none;
}
.Application__inner__form form .btns button {
  width: 140px;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
}
.Application__inner__form form .btns .right {
  color: white;
  border: none;
}
.Application__inner__form form .btns .left {
  color: var(--main-color);
  background-color: white;
  border: 1px solid var(--main-color);
  transition: all 0.3s;
}
.Application__inner__form form .btns .left:hover {
  background-color: var(--main-color);
  color: white;
}

.Programs {
  font-family: "Cairo", sans-serif;
  position: relative;
}
.Programs__in {
  height: 100%;
  direction: rtl;
  padding: 20px 60px 0;
  min-height: calc(100vh - 175px);
}
@media (max-width: 400px) {
  .Programs__in {
    padding: 20px 10px 0 0;
  }
}
.Programs__in__top {
  display: flex;
  justify-content: space-between;
}
.Programs__in__top input {
  padding: 10px 16px 10px 16px;
  border-radius: 8px;
  width: 326px;
  height: 50px;
  border: 1px solid grey;
}
.Programs__in h2 {
  color: var(--main-color);
  margin-bottom: 40px;
}
.Programs__in ol li {
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
  margin: 15px 0;
}
.Programs__in ol li button {
  background: transparent;
  border: none;
}

.Applicants {
  font-family: "Cairo", sans-serif;
  position: relative;
}
.Applicants__in {
  height: 100%;
  direction: rtl;
  padding: 20px 60px 0;
  min-height: calc(100vh - 175px);
}
@media (max-width: 400px) {
  .Applicants__in {
    padding: 20px 10px 0 0;
  }
}
.Applicants__in__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.Applicants__in__top input {
  padding: 10px 16px 10px 16px;
  border-radius: 8px;
  width: 326px;
  height: 50px;
  border: 1px solid grey;
}
.Applicants__in__top h2 {
  color: var(--main-color);
}
.Applicants__in ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 155px;
}
@media (max-width: 1000px) {
  .Applicants__in ol {
    grid-template-columns: 1fr;
  }
}
.Applicants__in ol .Applicants__in__bot {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  box-shadow: 0px 3.2765216827px 26.2121734619px 0px rgba(0, 0, 0, 0.2509803922);
}
.Applicants__in ol .Applicants__in__bot li {
  color: var(--main-color);
  font-weight: 600;
  font-size: 30px;
}
.Applicants__in ol .Applicants__in__bot p {
  font-weight: 500;
  font-size: 20px;
  color: grey;
}
.Applicants__in ol .Applicants__in__bot > div {
  padding-right: 30px;
}
.Applicants__in ol .Applicants__in__bot button {
  align-items: end;
  display: flex;
  background: white;
  border: none;
}
.Applicants__in ol .Applicants__in__bot button div {
  border-radius: 50%;
  transition: all 0.3s;
  padding: 10px;
}
.Applicants__in ol .Applicants__in__bot button div img {
  width: 30px;
}
.Applicants__in ol .Applicants__in__bot button div:hover {
  background-color: lightgray;
}

.Table {
  font-family: "Cairo", sans-serif;
  position: relative;
}
.Table__in {
  height: 100%;
  direction: rtl;
  padding: 20px 60px 0;
  min-height: calc(100vh - 175px);
}
@media (max-width: 400px) {
  .Table__in {
    padding: 20px 10px 0 0;
  }
}
.Table__in__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.Table__in__top input {
  padding: 10px 16px 10px 16px;
  border-radius: 8px;
  width: 326px;
  height: 50px;
  border: 1px solid grey;
}
.Table__in__top h2 {
  color: var(--main-color);
}
.Table__in__bot table {
  width: 100%;
}
.Table__in__bot table thead {
  color: white;
  background: var(--main-color);
}
.Table__in__bot table thead th {
  padding: 10px 20px;
  font-weight: 400;
  font-size: 18px;
}
.Table__in__bot table thead th:first-of-type {
  width: 120px;
}
.Table__in__bot table th,
.Table__in__bot table td {
  border: 1px solid black;
}
.Table__in__bot table td {
  padding: 15px;
  background-color: #f2f2f2;
}
.Table__in__bot table tr td:first-of-type {
  text-align: center;
}
.Table__in .but {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.Table__in .but button {
  height: 55px;
  width: 200px;
  background: var(--main-color);
  color: white;
  border: none;
  border-radius: 10px;
}
.Table__in .but button:hover {
  background-color: var(--btn-hover);
}
.Table__in .but button:active {
  background-color: var(--btn-active);
}

.Cric {
  font-family: "Cairo", sans-serif;
  position: relative;
}
.Cric__in {
  height: 100%;
  direction: rtl;
  padding: 20px 60px 0;
  min-height: calc(100vh - 175px);
}
@media (max-width: 400px) {
  .Cric__in {
    padding: 20px 10px 0 0;
  }
}
.Cric__in__top {
  display: flex;
  justify-content: space-between;
}
.Cric__in__top input {
  padding: 10px 16px 10px 16px;
  border-radius: 8px;
  width: 326px;
  height: 50px;
  border: 1px solid grey;
}
.Cric__in h2 {
  color: var(--main-color);
  margin-bottom: 40px;
}
.Cric__in ol li {
  font-size: 24px;
  font-weight: 400;
  margin: 15px 0;
}
.Cric__in ol li button {
  background-color: transparent;
  border: none;
}

.Account {
  font-family: "Cairo", sans-serif;
  position: relative;
}
.Account .Account__inner {
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  height: calc(100vh - 175px);
}
.Account .Account__inner .Account__inner__form {
  flex-direction: column;
  display: flex;
  align-items: center;
  box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.2509803922);
  margin-top: 20px;
  padding: 9px 20px;
}
.Account .Account__inner .Account__inner__form form {
  display: flex;
  flex-direction: column;
  width: 85%;
}
.Account .Account__inner .Account__inner__form form input,
.Account .Account__inner .Account__inner__form form select {
  direction: rtl;
  margin: 15px 0;
  height: 50px;
  border-radius: 8px;
  padding: 12px;
  border: 1px solid grey;
}
.Account .Account__inner .Account__inner__form form .gender {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.Account .Account__inner .Account__inner__form form .gender .male,
.Account .Account__inner .Account__inner__form form .gender .female {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.Account .Account__inner .Account__inner__form form .gender .male label,
.Account .Account__inner .Account__inner__form form .gender .female label {
  margin: 0 10px;
}
.Account .Account__inner .Account__inner__form form .sub {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.Account .Account__inner .Account__inner__form form .sub button {
  width: 52%;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px;
  margin: 0 10px;
}
.Account .Account__inner .Account__inner__form form .sub > div {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 400;
}
.Account .Account__inner .Account__inner__form form .sub > div a {
  text-decoration: none;
}
.Account .Account__inner .Account__inner__form form .sub .delete {
  color: red;
  background-color: white;
  border: 1px solid red;
}
.Account .Account__inner .Account__inner__form form .sub .delete:hover {
  background-color: lightgrey;
}

.Mydiplomas {
  font-family: "Cairo", sans-serif;
}
.Mydiplomas .Diploma {
  min-height: 76vh;
}
.Mydiplomas .Diploma .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px 60px;
  padding: 55px;
}
.Mydiplomas .Diploma .cards .card {
  box-shadow: 0px 3.2765216827px 26.2121734619px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 10px;
  text-align: center;
}
.Mydiplomas .Diploma .cards .card button {
  background: transparent;
  border: none;
}
.Mydiplomas .Diploma .cards .card button h2 {
  color: var(--main-color);
  font-weight: 600;
  font-size: 32px;
}
.Mydiplomas .Diploma .cards .card button p:first-of-type {
  color: var(--main-color);
  font-weight: 500;
  font-size: 28px;
}

.Regsubs {
  font-family: "Cairo", sans-serif;
}
.Regsubs__in {
  min-height: 76vh;
  direction: rtl;
  padding: 40px 40px 0;
}
.Regsubs__in h2 {
  color: var(--main-color);
  font-weight: 600;
  font-size: 40px;
}
@media (max-width: 400px) {
  .Regsubs__in h2 {
    font-size: 30px;
  }
}
.Regsubs__in__two {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  min-height: 300px;
}
@media (max-width: 650px) {
  .Regsubs__in__two {
    flex-direction: column;
  }
}
.Regsubs__in__two__right, .Regsubs__in__two__left {
  width: 50%;
  padding: 0;
  list-style: none;
}
@media (max-width: 650px) {
  .Regsubs__in__two__right, .Regsubs__in__two__left {
    width: 100%;
  }
}
.Regsubs__in__two__right ul, .Regsubs__in__two__left ul {
  list-style: none;
  padding: 0;
}
.Regsubs__in__two__right ul li, .Regsubs__in__two__left ul li {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;
}
@media (max-width: 650px) {
  .Regsubs__in__two__right ul li, .Regsubs__in__two__left ul li {
    font-size: 12px;
  }
}
.Regsubs__in__two__right ul li button, .Regsubs__in__two__left ul li button {
  background-color: transparent;
  border: none;
}
.Regsubs__in__two__right p, .Regsubs__in__two__left p {
  font-size: 16px;
  font-weight: 500;
  color: #7F7C7E;
}
@media (max-width: 400px) {
  .Regsubs__in__two__right p, .Regsubs__in__two__left p {
    font-size: 13px;
  }
}
.Regsubs__in__two__left {
  text-align: center;
  margin-right: 80px;
}
@media (max-width: 650px) {
  .Regsubs__in__two__left {
    margin-right: 0;
  }
}
.Regsubs__in .butts {
  display: flex;
  padding-top: 40px;
}
.Regsubs__in .butts .space {
  width: 85%;
}
.Regsubs__in .butts .two {
  display: flex;
  flex-direction: column;
}
.Regsubs__in .butts .two button {
  height: 50px;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
}
.Regsubs__in .butts .two button:first-of-type {
  color: white;
}
.Regsubs__in .butts .two button:last-of-type {
  color: var(--main-color);
  background-color: white;
  border: 1px solid var(--main-color);
}
.Regsubs__in .butts .two button:last-of-type:hover {
  background-color: lightgrey;
}
.Regsubs__in .butts .two .save:active {
  background-color: lightblue;
}

.one {
  background: #EFF5FB;
}

.two {
  background: #FAFDFF;
}

.Appinfo {
  font-family: "Cairo", sans-serif;
  direction: rtl;
}
.Appinfo__in {
  min-height: calc(100vh - 175px);
  padding: 30px 30px 0;
}
@media (max-width: 500px) {
  .Appinfo__in {
    padding: 30px 0 0;
  }
}
.Appinfo__in h2 {
  color: var(--main-color);
  font-weight: 400;
  font-size: 40px;
}
@media (max-width: 500px) {
  .Appinfo__in h2 {
    font-size: 25px;
  }
}

.Lock {
  padding: 30px 30px 0 0;
}
@media (max-width: 500px) {
  .Lock {
    padding: 30px 0 0;
  }
}
.Lock form {
  display: flex;
  flex-direction: column;
  width: 45%;
}
@media (max-width: 1400px) {
  .Lock form {
    width: 60%;
  }
}
@media (max-width: 1000px) {
  .Lock form {
    width: 100%;
  }
}
.Lock form > div {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  position: relative;
}
.Lock form > div img {
  position: absolute;
  top: 10px;
  left: 7px;
  width: 18px;
}
.Lock form > div > div {
  direction: ltr;
  width: 32%;
}
.Lock form > div label {
  font-weight: 500;
  font-size: 18px;
}
@media (max-width: 400px) {
  .Lock form > div label {
    font-size: 12px;
  }
}
.Lock form > div input, .Lock form > div textarea {
  width: 65%;
  height: 37px;
  border-radius: 7px;
  border: 1px solid grey;
  padding: 10px;
}
.Lock form > div textarea {
  resize: none;
  height: 80px;
}
.Lock form > div select {
  width: 64%;
  height: 37px;
  border-radius: 7px;
  border: 1px solid grey;
}

.Appemp {
  font-family: "Cairo", sans-serif;
  direction: rtl;
}
.Appemp__in {
  min-height: 100vh;
  padding: 30px 30px 0;
}
@media (max-width: 500px) {
  .Appemp__in {
    padding: 30px 0 0;
  }
}
.Appemp__in h2 {
  color: var(--main-color);
  font-weight: 400;
  font-size: 40px;
}
@media (max-width: 500px) {
  .Appemp__in h2 {
    font-size: 25px;
  }
}
.Appemp__in__btns {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 30px 0;
}
.Appemp__in__btns button {
  width: 145px;
  height: 45px;
  border: none;
  border-radius: 6px;
}
.Appemp__in__btns button.btnbtn {
  color: white;
}
.Appemp__in__btns button:first-of-type {
  border: 1px solid red;
  color: red;
  background-color: white;
}

.Addmain {
  font-family: "Cairo", sans-serif;
  direction: rtl;
}
.Addmain__in {
  min-height: 76vh;
  padding: 30px 30px 0;
}
@media (max-width: 850px) {
  .Addmain__in {
    padding: 30px 0 0;
  }
}
.Addmain__in__add {
  margin-bottom: 60px;
}
.Addmain__in__add ul {
  list-style: none;
}
.Addmain__in__add ul li {
  margin: 10px;
}
.Addmain__in__add ul li button {
  background: transparent;
  border: none;
}
@media (max-width: 850px) {
  .Addmain__in__add ul li button img {
    width: 30px;
  }
}
@media (max-width: 500px) {
  .Addmain__in__add ul li button img {
    width: 20px;
  }
}
.Addmain__in__add ul li button span {
  font-weight: 600;
  font-size: 32px;
  color: var(--main-color);
}
@media (max-width: 850px) {
  .Addmain__in__add ul li button span {
    font-size: 22px;
  }
}
@media (max-width: 500px) {
  .Addmain__in__add ul li button span {
    font-size: 14px;
  }
}
.Addmain__in__screen__top {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
@media (max-width: 770px) {
  .Addmain__in__screen__top {
    flex-direction: column;
  }
}
.Addmain__in__screen__top h2 {
  font-weight: 600;
  font-size: 40px;
  color: var(--main-color);
}
.Addmain__in__screen__top input {
  width: 30%;
  border-radius: 8px;
  border: 1px solid grey;
  padding: 0 20px;
}
@media (max-width: 770px) {
  .Addmain__in__screen__top input {
    height: 35px;
    margin: 10px 20px;
  }
}
.Addmain__in__screen__body {
  padding-top: 30px;
}
.Addmain__in__screen__body .cards {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: space-around;
  gap: 50px 0;
}
@media (max-width: 770px) {
  .Addmain__in__screen__body .cards {
    grid-template-columns: 90%;
  }
}
.Addmain__in__screen__body .cards .card {
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
  box-shadow: 0px 3.2765216827px 26.2121734619px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 0;
  position: relative;
  padding-left: 45px;
}
.Addmain__in__screen__body .cards .card button {
  display: flex;
  justify-content: center;
  border: none;
  background: transparent;
  position: absolute;
  left: 12px;
}
@media (max-width: 1024px) {
  .Addmain__in__screen__body .cards .card button img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 20px;
  }
}
.Addmain__in__screen__body .cards .card h3 {
  font-weight: 600;
  font-size: 30px;
  color: var(--main-color);
}
@media (max-width: 1024px) {
  .Addmain__in__screen__body .cards .card h3 {
    font-size: 24px;
  }
}
.Addmain__in__screen__body .cards .card p:first-of-type,
.Addmain__in__screen__body .cards .card p:nth-child(2),
.Addmain__in__screen__body .cards .card p:nth-child(3) {
  font-weight: 500;
  font-size: 25px;
  color: var(--main-color);
}
.Addmain__in__screen__body .cards .card p:nth-child(3) {
  margin-bottom: 35px;
}
.Addmain__in__screen__body .cards .card p:nth-child(4),
.Addmain__in__screen__body .cards .card p:last-of-type {
  color: gray;
  font-weight: 500;
  font-size: 22px;
}
@media (max-width: 1024px) {
  .Addmain__in__screen__body .cards .card p:nth-child(4),
  .Addmain__in__screen__body .cards .card p:last-of-type {
    font-size: 16px;
  }
}
.Addmain__in__screen__body .cards .card ul li {
  color: gray;
  font-weight: 500;
  font-size: 22px;
}

.Mastermain {
  font-family: "Cairo", sans-serif;
  direction: rtl;
}
.Mastermain__in {
  min-height: calc(100vh - 175px);
  padding: 30px 30px 0;
}
.Mastermain__in__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px 10px;
}
@media (max-width: 1100px) {
  .Mastermain__in__cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 800px) {
  .Mastermain__in__cards {
    grid-template-columns: 1fr;
  }
}
.Mastermain__in__cards .card {
  display: flex;
  flex-direction: row;
  height: 150px;
  border: none;
  border-radius: 0;
  box-shadow: 0px 3.2765216827px 26.2121734619px 0px rgba(0, 0, 0, 0.2509803922);
}
.Mastermain__in__cards .card__right {
  width: 50%;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Mastermain__in__cards .card__right p {
  font-weight: 600;
  font-size: 32px;
  color: var(--main-color);
}
@media (max-width: 500px) {
  .Mastermain__in__cards .card__right p {
    font-size: 26px;
  }
}
.Mastermain__in__cards .card__left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Mastermain__in__cards .card__left #circle,
.Mastermain__in__cards .card__left #circle1,
.Mastermain__in__cards .card__left #circle2,
.Mastermain__in__cards .card__left #circle3,
.Mastermain__in__cards .card__left #circle4,
.Mastermain__in__cards .card__left #circle5 {
  width: 100px;
  height: 100px;
  background: conic-gradient(var(--col) 0% var(--percentage), #f0f0f0 var(--percentage) 100%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 400px) {
  .Mastermain__in__cards .card__left #circle,
  .Mastermain__in__cards .card__left #circle1,
  .Mastermain__in__cards .card__left #circle2,
  .Mastermain__in__cards .card__left #circle3,
  .Mastermain__in__cards .card__left #circle4,
  .Mastermain__in__cards .card__left #circle5 {
    width: 60%;
    height: 60%;
  }
}
.Mastermain__in__cards .card__left #circle .inner,
.Mastermain__in__cards .card__left #circle1 .inner,
.Mastermain__in__cards .card__left #circle2 .inner,
.Mastermain__in__cards .card__left #circle3 .inner,
.Mastermain__in__cards .card__left #circle4 .inner,
.Mastermain__in__cards .card__left #circle5 .inner {
  background: white;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 25px;
  color: var(--numCol);
}
.Mastermain__in__links {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.Mastermain__in__links button {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
}
.Mastermain__in__links button h2 {
  margin-right: 20px;
  color: var(--main-color);
}

.Adiplomas {
  font-family: "Cairo", sans-serif;
  direction: rtl;
}
.Adiplomas__in {
  min-height: calc(100vh - 175px);
  padding: 30px 30px 0;
  position: relative;
}
.Adiplomas__in__top button {
  background: transparent;
  border: none;
}
@media (max-width: 650px) {
  .Adiplomas__in__top button img {
    width: 50px;
  }
}
.Adiplomas__in__body .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px 60px;
  padding: 55px;
}
@media (max-width: 950px) {
  .Adiplomas__in__body .cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 650px) {
  .Adiplomas__in__body .cards {
    grid-template-columns: 1fr;
    padding: 55px 0;
  }
}
.Adiplomas__in__body .cards .card {
  box-shadow: 0px 3.2765216827px 26.2121734619px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 25px;
  text-align: center;
}
.Adiplomas__in__body .cards .card h2 {
  color: var(--main-color);
  font-weight: 600;
  font-size: 32px;
}
.Adiplomas__in__body .cards .card p:first-of-type {
  color: var(--main-color);
  font-weight: 500;
  font-size: 28px;
}
.Adiplomas__in__body .cards .card button {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: none;
  background: transparent;
}
.Adiplomas__in__body .cards .card button img {
  position: absolute;
  top: 15px;
  left: 15px;
}
.Adiplomas__in__body .cards .delete {
  position: relative;
  background-color: lightgrey;
}
.Adiplomas__in form {
  position: absolute;
  top: 97px;
  left: 50%;
  width: 45%;
  height: 70%;
  background: white;
  transform: translate(-50%, 0);
  box-shadow: 0px 3.2765216827px 26.2121734619px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 20px 10px 0;
}
.Adiplomas__in form div {
  display: flex;
  justify-content: space-between;
  margin: 25px 10px;
  font-weight: 500;
  font-size: 20px;
}
.Adiplomas__in form div input {
  width: 50%;
  border-radius: 6px;
  border: 1px solid grey;
  font-weight: 400;
  font-size: 18px;
  padding: 4px 10px;
}
.Adiplomas__in form div:last-of-type {
  justify-content: center;
  gap: 52px;
}
.Adiplomas__in form div:last-of-type button {
  border: none;
  border-radius: 6px;
  color: white;
  padding: 9px 14px;
  width: 160px;
}
.Adiplomas__in form div:last-of-type button:first-of-type {
  background-color: #cc5454;
}

.Aemp {
  font-family: "Cairo", sans-serif;
  direction: rtl;
}
.Aemp__in {
  min-height: calc(100vh - 175px);
  padding: 30px 30px 0;
  position: relative;
}
.Aemp__in__top button {
  background: transparent;
  border: none;
}
@media (max-width: 650px) {
  .Aemp__in__top button img {
    width: 50px;
  }
}
.Aemp__in__body .cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 60px;
  padding: 55px;
}
@media (max-width: 1000px) {
  .Aemp__in__body .cards {
    grid-template-columns: 1fr;
    padding: 55px 0;
  }
}
.Aemp__in__body .cards .card {
  box-shadow: 0px 3.2765216827px 26.2121734619px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 25px;
  text-align: right;
}
.Aemp__in__body .cards .card h2 {
  color: var(--main-color);
  font-weight: 600;
  font-size: 32px;
}
@media (max-width: 600px) {
  .Aemp__in__body .cards .card h2 {
    font-size: 26px;
  }
}
.Aemp__in__body .cards .card p {
  font-weight: 500;
  font-size: 24px;
  color: grey;
}
@media (max-width: 600px) {
  .Aemp__in__body .cards .card p {
    font-size: 16px;
  }
}
.Aemp__in__body .cards .card button {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: none;
  background: transparent;
}
.Aemp__in__body .cards .card button .notcopy {
  position: absolute;
  top: 15px;
  left: 15px;
}
.Aemp__in__body .cards .card button .copy {
  position: absolute;
  bottom: 15px;
  left: 15px;
}
.Aemp__in__body .cards .delete {
  position: relative;
  background-color: lightgrey;
}
.Aemp__in form {
  position: absolute;
  top: 82px;
  left: 50%;
  width: 45%;
  height: 350px;
  background: white;
  transform: translate(-50%, 0);
  box-shadow: 0px 3.2765216827px 26.2121734619px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 20px 10px 0;
}
.Aemp__in form div {
  display: flex;
  justify-content: space-between;
  margin: 25px 10px;
  font-weight: 500;
  font-size: 20px;
}
.Aemp__in form div input {
  width: 50%;
  height: 46px;
  border-radius: 6px;
  border: 1px solid grey;
  font-weight: 400;
  font-size: 18px;
  padding: 4px 10px;
}
.Aemp__in form div:last-of-type {
  justify-content: center;
  gap: 52px;
}
.Aemp__in form div:last-of-type button {
  border: none;
  border-radius: 6px;
  color: white;
  padding: 9px 14px;
  width: 160px;
}
.Aemp__in form div:last-of-type button:first-of-type {
  background-color: #cc5454;
}

.Alect {
  font-family: "Cairo", sans-serif;
  direction: rtl;
}
.Alect__in {
  min-height: calc(100vh - 175px);
  padding: 30px 30px 0;
  position: relative;
}
.Alect__in__top button {
  background: transparent;
  border: none;
}
@media (max-width: 650px) {
  .Alect__in__top button img {
    width: 50px;
  }
}
.Alect__in__body .cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 60px;
  padding: 55px;
}
@media (max-width: 1000px) {
  .Alect__in__body .cards {
    grid-template-columns: 1fr;
    padding: 55px 0;
  }
}
.Alect__in__body .cards .card {
  box-shadow: 0px 3.2765216827px 26.2121734619px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 25px;
  text-align: right;
}
.Alect__in__body .cards .card h2 {
  color: var(--main-color);
  font-weight: 600;
  font-size: 32px;
}
@media (max-width: 600px) {
  .Alect__in__body .cards .card h2 {
    font-size: 26px;
  }
}
.Alect__in__body .cards .card p {
  font-weight: 500;
  font-size: 24px;
  color: grey;
}
@media (max-width: 600px) {
  .Alect__in__body .cards .card p {
    font-size: 16px;
  }
}
.Alect__in__body .cards .card button {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: none;
  background: transparent;
}
.Alect__in__body .cards .card button .notcopy {
  position: absolute;
  top: 15px;
  left: 15px;
}
.Alect__in__body .cards .card button .copy {
  position: absolute;
  bottom: 15px;
  left: 15px;
}
.Alect__in__body .cards .delete {
  position: relative;
  background-color: lightgrey;
}
.Alect__in form {
  position: absolute;
  top: 97px;
  left: 50%;
  width: 45%;
  height: 334px;
  background: white;
  transform: translate(-50%, 0);
  box-shadow: 0px 3.2765216827px 26.2121734619px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 20px 10px 0;
}
.Alect__in form div {
  display: flex;
  justify-content: space-between;
  margin: 25px 10px;
  font-weight: 500;
  font-size: 20px;
}
.Alect__in form div input {
  width: 50%;
  height: 46px;
  border-radius: 6px;
  border: 1px solid grey;
  font-weight: 400;
  font-size: 18px;
  padding: 4px 10px;
}
.Alect__in form div:last-of-type {
  justify-content: center;
  gap: 52px;
}
.Alect__in form div:last-of-type button {
  border: none;
  border-radius: 6px;
  color: white;
  padding: 9px 14px;
  width: 160px;
}
.Alect__in form div:last-of-type button:first-of-type {
  background-color: #cc5454;
}

.Asubjects {
  font-family: "Cairo", sans-serif;
  direction: rtl;
}
.Asubjects__in {
  min-height: calc(100vh - 175px);
  padding: 30px 30px 0;
  position: relative;
}
.Asubjects__in__top button {
  background: transparent;
  border: none;
}
@media (max-width: 650px) {
  .Asubjects__in__top button img {
    width: 50px;
  }
}
.Asubjects__in__body .cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 60px;
  padding: 55px;
}
@media (max-width: 1000px) {
  .Asubjects__in__body .cards {
    grid-template-columns: 1fr;
    padding: 55px 0;
  }
}
.Asubjects__in__body .cards .card {
  box-shadow: 0px 3.2765216827px 26.2121734619px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 25px;
  text-align: right;
}
.Asubjects__in__body .cards .card h2 {
  color: var(--main-color);
  font-weight: 600;
  font-size: 32px;
}
@media (max-width: 600px) {
  .Asubjects__in__body .cards .card h2 {
    font-size: 26px;
  }
}
.Asubjects__in__body .cards .card p {
  font-weight: 500;
  font-size: 24px;
  color: grey;
}
@media (max-width: 600px) {
  .Asubjects__in__body .cards .card p {
    font-size: 16px;
  }
}
.Asubjects__in__body .cards .card .del {
  width: 100%;
  height: 100%;
}
.Asubjects__in__body .cards .card .del img {
  position: absolute;
  top: 10px;
  left: 10px;
}
.Asubjects__in__body .cards .card button {
  position: absolute;
  border: none;
  background: transparent;
}
.Asubjects__in__body .cards .card button:first-of-type {
  left: 5px;
  bottom: 10px;
}
.Asubjects__in__body .cards .card button:last-of-type {
  left: 10px;
  top: 10px;
}
.Asubjects__in__body .cards .card button:last-of-type img {
  width: 35px;
}
.Asubjects__in__body .cards .delete {
  position: relative;
  background-color: lightgrey;
}
.Asubjects__in form {
  position: absolute;
  top: 105px;
  left: 50%;
  width: 45%;
  height: 345px;
  background: white;
  transform: translate(-50%, 0);
  box-shadow: 0px 3.2765216827px 26.2121734619px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 20px 10px 0;
}
.Asubjects__in form div {
  display: flex;
  justify-content: space-between;
  margin: 25px 10px;
  font-weight: 500;
  font-size: 20px;
}
.Asubjects__in form div input {
  width: 50%;
  height: 46px;
  border-radius: 6px;
  border: 1px solid grey;
  font-weight: 400;
  font-size: 18px;
  padding: 4px 10px;
}
.Asubjects__in form div:last-of-type {
  justify-content: center;
  gap: 52px;
}
.Asubjects__in form div:last-of-type button {
  border: none;
  border-radius: 6px;
  color: white;
  padding: 9px 14px;
  width: 160px;
}
.Asubjects__in form div:last-of-type button:first-of-type {
  background-color: #cc5454;
}
.Asubjects__in form ul {
  list-style: none;
  height: 50%;
  overflow: auto;
  margin-top: 20px;
}
.Asubjects__in form ul input {
  margin-left: 10px;
}

.Ayear {
  font-family: "Cairo", sans-serif;
  direction: rtl;
}
.Ayear__in {
  min-height: calc(100vh - 175px);
  padding: 30px 30px 0;
  position: relative;
}
.Ayear__in__top button {
  background: transparent;
  border: none;
}
@media (max-width: 650px) {
  .Ayear__in__top button img {
    width: 50px;
  }
}
.Ayear__in__body .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px 60px;
  padding: 55px;
}
@media (max-width: 950px) {
  .Ayear__in__body .cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 650px) {
  .Ayear__in__body .cards {
    grid-template-columns: 1fr;
    padding: 55px 0;
  }
}
.Ayear__in__body .cards .card {
  box-shadow: 0px 3.2765216827px 26.2121734619px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 25px;
  text-align: center;
}
.Ayear__in__body .cards .card p {
  font-weight: 500;
  font-size: 24px;
}
.Ayear__in__body .cards .card p:nth-child(2) {
  color: var(--main-color);
}
.Ayear__in__body .cards .card p:last-of-type {
  font-size: 32px;
  font-weight: 600;
  color: var(--main-color);
}
.Ayear__in__body .cards .card button {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: none;
  background: transparent;
}
.Ayear__in__body .cards .card button img {
  position: absolute;
  top: 15px;
  left: 15px;
}
.Ayear__in__body .cards .delete {
  position: relative;
  background-color: lightgrey;
}
.Ayear__in form {
  position: absolute;
  top: 137px;
  left: 50%;
  width: 45%;
  height: 210px;
  background: white;
  transform: translate(-50%, 0);
  box-shadow: 0px 3.2765216827px 26.2121734619px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 20px 10px 0;
}
.Ayear__in form div {
  display: flex;
  justify-content: space-between;
  margin: 25px 10px;
  font-weight: 500;
  font-size: 20px;
}
.Ayear__in form div input {
  width: 50%;
  border-radius: 6px;
  border: 1px solid grey;
  font-weight: 400;
  font-size: 18px;
  padding: 4px 10px;
}
.Ayear__in form div .special {
  height: 65px;
  font-size: 15px;
}
.Ayear__in form div:last-of-type {
  justify-content: center;
  margin-top: 60px;
  gap: 52px;
}
.Ayear__in form div:last-of-type button {
  border: none;
  border-radius: 6px;
  color: white;
  padding: 9px 14px;
  width: 160px;
}
.Ayear__in form div:last-of-type button:first-of-type {
  background-color: #cc5454;
}

.Apay {
  font-family: "Cairo", sans-serif;
  direction: rtl;
}
.Apay__in {
  height: calc(100vh - 175px);
  padding: 30px 30px 0;
  position: relative;
}
.Apay__in__top button {
  background: transparent;
  border: none;
}
@media (max-width: 650px) {
  .Apay__in__top button img {
    width: 50px;
  }
}
.Apay__in__body .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px 60px;
  padding: 55px;
}
@media (max-width: 950px) {
  .Apay__in__body .cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 650px) {
  .Apay__in__body .cards {
    grid-template-columns: 1fr;
    padding: 55px 0;
  }
}
.Apay__in__body .cards .card {
  box-shadow: 0px 3.2765216827px 26.2121734619px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 25px;
  text-align: center;
}
.Apay__in__body .cards .card p {
  font-weight: 500;
  font-size: 24px;
}
.Apay__in__body .cards .card p:nth-child(2) {
  color: var(--main-color);
}
.Apay__in__body .cards .card p:last-of-type {
  font-size: 32px;
  font-weight: 600;
  color: var(--main-color);
}
.Apay__in__body .cards .card button {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: none;
  background: transparent;
}
.Apay__in__body .cards .card button img {
  position: absolute;
  top: 15px;
  left: 15px;
}
.Apay__in__body .cards .delete {
  position: relative;
  background-color: lightgrey;
}
.Apay__in form {
  position: absolute;
  top: 95px;
  left: 50%;
  width: 45%;
  height: 55%;
  background: white;
  transform: translate(-50%, 0);
  box-shadow: 0px 3.2765216827px 26.2121734619px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 20px 10px 0;
}
.Apay__in form div {
  display: flex;
  justify-content: space-between;
  margin: 25px 10px;
  font-weight: 500;
  font-size: 20px;
}
.Apay__in form div input {
  width: 50%;
  border-radius: 6px;
  border: 1px solid grey;
  font-weight: 400;
  font-size: 18px;
  padding: 4px 10px;
}
.Apay__in form div .special {
  height: 65px;
  font-size: 15px;
}
.Apay__in form div:last-of-type {
  justify-content: center;
  margin-top: 60px;
}
.Apay__in form div:last-of-type button {
  border: none;
  border-radius: 6px;
  color: white;
  padding: 9px 14px;
  width: 160px;
}

.Aprogram {
  font-family: "Cairo", sans-serif;
  direction: rtl;
}
.Aprogram__in {
  min-height: 76vh;
  padding: 30px 30px 0;
  position: relative;
}
.Aprogram__in__top button {
  background: transparent;
  border: none;
}
@media (max-width: 650px) {
  .Aprogram__in__top button img {
    width: 50px;
  }
}
.Aprogram__in__body .cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 130px;
  padding: 55px;
}
@media (max-width: 1000px) {
  .Aprogram__in__body .cards {
    grid-template-columns: 1fr;
    padding: 55px 0;
  }
}
.Aprogram__in__body .cards .card {
  box-shadow: 0px 3.2765216827px 26.2121734619px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 65px 25px 0;
  text-align: right;
}
.Aprogram__in__body .cards .card h2 {
  color: var(--main-color);
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 24px;
}
@media (max-width: 600px) {
  .Aprogram__in__body .cards .card h2 {
    font-size: 26px;
  }
}
.Aprogram__in__body .cards .card p {
  font-weight: 500;
  font-size: 24px;
  color: var(--main-color);
}
@media (max-width: 600px) {
  .Aprogram__in__body .cards .card p {
    font-size: 16px;
  }
}
.Aprogram__in__body .cards .card ol {
  margin: 42px 0;
}
.Aprogram__in__body .cards .card ol li {
  color: grey;
}
.Aprogram__in__body .cards .card button {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: none;
  background: transparent;
}
.Aprogram__in__body .cards .card button .notcopy {
  position: absolute;
  top: 15px;
  left: 15px;
}
.Aprogram__in__body .cards .card button .copy {
  position: absolute;
  top: 15px;
  left: 15px;
}
.Aprogram__in__body .cards .delete {
  position: relative;
  background-color: lightgrey;
}
.Aprogram__in form {
  position: absolute;
  top: 82px;
  left: 50%;
  width: 45%;
  height: 415px;
  background: white;
  transform: translate(-50%, 0);
  box-shadow: 0px 3.2765216827px 26.2121734619px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 20px 10px 0;
}
.Aprogram__in form div {
  display: flex;
  justify-content: space-between;
  margin: 25px 10px;
  font-weight: 500;
  font-size: 20px;
}
.Aprogram__in form div input {
  width: 50%;
  height: 46px;
  border-radius: 6px;
  border: 1px solid grey;
  font-weight: 400;
  font-size: 18px;
  padding: 4px 10px;
}
.Aprogram__in form div:last-of-type {
  justify-content: center;
}
.Aprogram__in form div:last-of-type button {
  border: none;
  border-radius: 6px;
  color: white;
  padding: 9px 14px;
  width: 160px;
}

.Mcollege {
  font-family: "Cairo", sans-serif;
  direction: rtl;
}
.Mcollege__in {
  min-height: calc(100vh - 175px);
  padding: 30px 30px 0;
  position: relative;
}
.Mcollege__in__top button {
  background: transparent;
  border: none;
}
@media (max-width: 650px) {
  .Mcollege__in__top button img {
    width: 50px;
  }
}
.Mcollege__in__body .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px 50px;
  padding: 40px 20px;
}
@media (max-width: 1000px) {
  .Mcollege__in__body .cards {
    grid-template-columns: 1fr;
    padding: 55px 0;
  }
}
.Mcollege__in__body .cards .card {
  box-shadow: 0px 3.2765216827px 26.2121734619px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 65px 25px 0;
  text-align: right;
  display: flex;
  align-items: center;
}
.Mcollege__in__body .cards .card h2 {
  color: var(--main-color);
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 24px;
}
@media (max-width: 600px) {
  .Mcollege__in__body .cards .card h2 {
    font-size: 26px;
  }
}
.Mcollege__in__body .cards .card p {
  font-weight: 500;
  font-size: 24px;
  color: var(--main-color);
}
@media (max-width: 600px) {
  .Mcollege__in__body .cards .card p {
    font-size: 16px;
  }
}
.Mcollege__in__body .cards .card ol {
  margin: 42px 0;
}
.Mcollege__in__body .cards .card ol li {
  color: grey;
}
.Mcollege__in__body .cards .card button {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: none;
  background: transparent;
}
.Mcollege__in__body .cards .card button .notcopy {
  position: absolute;
  top: 15px;
  left: 15px;
}
.Mcollege__in__body .cards .card button .copy {
  position: absolute;
  top: 15px;
  left: 15px;
}
.Mcollege__in__body .cards .delete {
  position: relative;
  background-color: lightgrey;
}
.Mcollege__in form {
  position: absolute;
  top: 145px;
  left: 50%;
  width: 45%;
  height: 270px;
  background: white;
  transform: translate(-50%, 0);
  box-shadow: 0px 3.2765216827px 26.2121734619px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 20px 10px 0;
}
.Mcollege__in form div {
  display: flex;
  justify-content: space-between;
  margin: 25px 10px;
  font-weight: 500;
  font-size: 20px;
}
.Mcollege__in form div input {
  width: 50%;
  height: 46px;
  border-radius: 6px;
  border: 1px solid grey;
  font-weight: 400;
  font-size: 18px;
  padding: 4px 10px;
}
.Mcollege__in form div:last-of-type {
  justify-content: center;
  gap: 52px;
}
.Mcollege__in form div:last-of-type button {
  border: none;
  border-radius: 6px;
  color: white;
  padding: 9px 14px;
  width: 160px;
}
.Mcollege__in form div:last-of-type button:first-of-type {
  background-color: #cc5454;
}

.Madmin {
  font-family: "Cairo", sans-serif;
  direction: rtl;
}
.Madmin__in {
  min-height: calc(100vh - 175px);
  padding: 30px 30px 0;
  position: relative;
}
.Madmin__in__top button {
  background: transparent;
  border: none;
}
@media (max-width: 650px) {
  .Madmin__in__top button img {
    width: 50px;
  }
}
.Madmin__in__body .cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 60px;
  padding: 55px;
}
@media (max-width: 1000px) {
  .Madmin__in__body .cards {
    grid-template-columns: 1fr;
    padding: 55px 0;
  }
}
.Madmin__in__body .cards .card {
  box-shadow: 0px 3.2765216827px 26.2121734619px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 25px;
  text-align: right;
}
.Madmin__in__body .cards .card h2 {
  color: var(--main-color);
  font-weight: 600;
  font-size: 32px;
}
@media (max-width: 600px) {
  .Madmin__in__body .cards .card h2 {
    font-size: 26px;
  }
}
.Madmin__in__body .cards .card p {
  font-weight: 500;
  font-size: 24px;
  color: grey;
}
@media (max-width: 600px) {
  .Madmin__in__body .cards .card p {
    font-size: 16px;
  }
}
.Madmin__in__body .cards .card button {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: none;
  background: transparent;
}
.Madmin__in__body .cards .card button .notcopy {
  position: absolute;
  top: 15px;
  left: 15px;
}
.Madmin__in__body .cards .card button .copy {
  position: absolute;
  bottom: 15px;
  left: 15px;
}
.Madmin__in__body .cards .delete {
  position: relative;
  background-color: lightgrey;
}
.Madmin__in form {
  position: absolute;
  top: 82px;
  left: 50%;
  width: 45%;
  height: 330px;
  background: white;
  transform: translate(-50%, 0);
  box-shadow: 0px 3.2765216827px 26.2121734619px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 20px 10px 0;
}
.Madmin__in form div {
  display: flex;
  justify-content: space-between;
  margin: 25px 10px;
  font-weight: 500;
  font-size: 20px;
}
.Madmin__in form div input {
  width: 50%;
  height: 46px;
  border-radius: 6px;
  border: 1px solid grey;
  font-weight: 400;
  font-size: 18px;
  padding: 4px 10px;
}
.Madmin__in form div:last-of-type {
  justify-content: center;
  gap: 52px;
}
.Madmin__in form div:last-of-type button {
  border: none;
  border-radius: 6px;
  color: white;
  padding: 9px 14px;
  width: 160px;
}
.Madmin__in form div:last-of-type button:first-of-type {
  background-color: #cc5454;
}

.Pdetails,
.Apdetails {
  font-family: "Cairo", sans-serif;
}
.Pdetails .Pdetails__in,
.Apdetails .Pdetails__in {
  height: 100%;
  direction: rtl;
  padding: 20px 60px 0;
  min-height: 76vh;
  position: relative;
}
.Pdetails .Pdetails__in h2,
.Apdetails .Pdetails__in h2 {
  font-weight: 600;
  font-size: 40px;
  color: var(--main-color);
  margin-bottom: 40px;
}
.Pdetails .Pdetails__in__about, .Pdetails .Pdetails__in__req, .Pdetails .Pdetails__in__pay, .Pdetails .Pdetails__in__time,
.Apdetails .Pdetails__in__about,
.Apdetails .Pdetails__in__req,
.Apdetails .Pdetails__in__pay,
.Apdetails .Pdetails__in__time {
  margin-bottom: 30px;
}
.Pdetails .Pdetails__in__about h4, .Pdetails .Pdetails__in__req h4, .Pdetails .Pdetails__in__pay h4, .Pdetails .Pdetails__in__time h4,
.Apdetails .Pdetails__in__about h4,
.Apdetails .Pdetails__in__req h4,
.Apdetails .Pdetails__in__pay h4,
.Apdetails .Pdetails__in__time h4 {
  font-weight: 500;
  font-size: 25px;
}
.Pdetails .Pdetails__in button,
.Apdetails .Pdetails__in button {
  position: absolute;
  left: 90px;
  bottom: 25px;
  width: 130px;
  color: white;
  border-radius: 8px;
  border: none;
  height: 52px;
}

.Eprogram {
  font-family: "Cairo", sans-serif;
  direction: rtl;
}
.Eprogram__in {
  min-height: calc(100vh - 175px);
  padding: 30px 30px 0;
  position: relative;
}
.Eprogram__in h2 {
  font-weight: 600;
  font-size: 40px;
  color: var(--main-color);
  margin-bottom: 40px;
}
.Eprogram__in__about {
  margin-bottom: 30px;
}
.Eprogram__in__about h4 {
  font-weight: 500;
  font-size: 25px;
}
.Eprogram__in__about p {
  font-weight: 400;
  font-size: 18px;
}
.Eprogram__in__add {
  display: flex;
  flex-direction: column;
}
.Eprogram__in__add button {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  width: 300px;
}
.Eprogram__in__add button img {
  margin-left: 20px;
}
.Eprogram__in__add button p {
  font-weight: 700;
  font-size: 20px;
  margin: 0px;
}
.Eprogram__in button.btnbtn {
  position: absolute;
  left: 90px;
  bottom: 25px;
  width: 130px;
  color: white;
  border-radius: 8px;
  border: none;
  height: 52px;
}

.Before {
  font-family: "Cairo", sans-serif;
  direction: rtl;
}
.Before__in {
  height: calc(100vh - 175px);
  padding: 30px 30px 0;
  position: relative;
}
.Before__in .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px 60px;
  padding: 55px;
}
@media (max-width: 950px) {
  .Before__in .cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 650px) {
  .Before__in .cards {
    grid-template-columns: 1fr;
    padding: 55px 0;
  }
}
.Before__in .cards button {
  box-shadow: 0px 3.2765216827px 26.2121734619px 0px rgba(0, 0, 0, 0.2509803922);
  background-color: transparent;
  border: none;
  height: 124px;
  font-weight: 600;
  font-size: 32px;
  color: var(--main-color);
}
.Before__in .cards button p:first-of-type {
  font-size: 18px;
}/*# sourceMappingURL=main.css.map */