@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Cairo", sans-serif;
}

:root {
  --main-color: #1778C2;
  --btn-hover: #0A4674;
  --btn-active: #7F7C7E;
}

.btnbtn {
  background-color: var(--main-color);
}

.btnbtn:hover {
  background-color: var(--btn-hover);
  border: none;
}

.btnbtn:active {
  background-color: var(--btn-active);
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-next:before,
.slick-prev:before {
  color: grey;
}

.slick-track {
  padding: 10px 0;
}

.Header {
  width: 100%;
  height: 100px;
  padding: 10px 70px;
  background-color: var(--main-color);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-family: "Cairo", sans-serif;
  box-shadow: 0px 14px 16px 0px rgba(4, 60, 102, 0.2509803922);
}
@media (max-width: 500px) {
  .Header {
    padding: 10px 10px;
  }
}
.Header__right {
  display: flex;
  flex-direction: row-reverse;
}
.Header__right__logo {
  background: white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.8);
}
.Header__right__logo img {
  width: 65%;
}
.Header__right__text {
  color: white;
  direction: rtl;
  padding: 5px;
  margin-right: 15px;
}
.Header__right__text h3 {
  font-weight: 700;
}
@media (max-width: 700px) {
  .Header__right__text h3 {
    font-size: 16px;
  }
}
.Header__left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Header__left button {
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  width: 180px;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}
@media (max-width: 700px) {
  .Header__left button {
    width: 120px;
    height: 50px;
  }
}
@media (max-width: 400px) {
  .Header__left button {
    width: 80px;
    height: 40px;
  }
}

.userName {
  display: flex;
  direction: rtl;
  align-items: start;
}
.userName p {
  color: white;
  font-weight: 500;
  margin-right: 5px;
}
.userName img {
  -o-object-fit: contain;
     object-fit: contain;
}

.Landing__hero {
  width: 100%;
  height: 680px;
  background-image: url("../assets/landing.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Cairo", sans-serif;
}
.Landing__hero__text {
  color: white;
  width: 50%;
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 800px) {
  .Landing__hero__text {
    width: 70%;
  }
}
@media (max-width: 500px) {
  .Landing__hero__text {
    width: 85%;
  }
}
.Landing__hero__text p:first-of-type {
  font-size: 46px;
  font-weight: 700;
  line-height: 2;
  text-align: center;
}
.Landing__hero__text p:first-of-type span {
  color: var(--main-color);
}
@media (max-width: 900px) {
  .Landing__hero__text p:first-of-type {
    font-size: 36px;
  }
}
@media (max-width: 400px) {
  .Landing__hero__text p:first-of-type {
    font-size: 27px;
  }
}
.Landing__hero__text p:last-of-type {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 2;
  width: 70%;
  margin: 10px 0;
}
@media (max-width: 900px) {
  .Landing__hero__text p:last-of-type {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .Landing__hero__text p:last-of-type {
    font-size: 10px;
  }
}
.Landing__hero__text button {
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-top: 20px;
}

.Offer {
  height: 200px;
  margin: 20px 0;
  margin: 40px 0;
  font-family: "Cairo", sans-serif;
}
.Offer h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: var(--main-color);
}
.Offer__cards {
  margin-top: 20px;
  display: flex;
}
@media (max-width: 700px) {
  .Offer__cards {
    flex-direction: column;
  }
}
.Offer__cards__card h3 {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
.Offer__cards__card p {
  text-align: center;
  width: 100%;
  direction: rtl;
  padding: 0 80px;
  color: var(--btn-active);
}
@media (max-width: 1100px) {
  .Offer__cards__card p {
    padding: 0 20px;
  }
}
@media (max-width: 700px) {
  .Offer__cards__card {
    margin: 26px 0;
  }
}
.Offer__cards__card:nth-of-type(2) {
  border-top: none;
  border-right: 0.5px solid black;
  border-bottom: none;
  border-left: 0.5px solid black;
}
@media (max-width: 700px) {
  .Offer__cards__card:nth-of-type(2) {
    border: none;
  }
}

.Works {
  width: 100%;
  margin-top: 90px;
  margin-bottom: 40px;
  display: flex;
  font-family: "Cairo", sans-serif;
}
@media (max-width: 700px) {
  .Works {
    margin-top: 350px;
    display: flex;
    justify-content: center;
  }
}
.Works__left {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 700px) {
  .Works__left {
    display: none;
  }
}
.Works__left__circle {
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 320px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.Works__right {
  width: 60%;
  direction: rtl;
  padding: 0 40px;
}
@media (max-width: 700px) {
  .Works__right {
    width: 95%;
  }
}
.Works__right h3 {
  font-size: 40px;
  font-weight: 600;
  color: var(--main-color);
}
.Works__right ol li {
  font-size: 24px;
  font-weight: 500;
  padding: 10px 0;
}
.Works__right ol li p {
  display: inline;
  font-size: 16px;
  font-weight: 400;
}

.Theslider {
  width: 100%;
  text-align: center;
  padding: 50px 0;
  height: 80vh;
  font-family: "Cairo", sans-serif;
}
@media (max-width: 720px) {
  .Theslider {
    height: 88vh;
  }
}
.Theslider h2 {
  color: var(--main-color);
  font-weight: 600;
  font-size: 40px;
}
.Theslider .cara {
  padding: 0 80px;
}
@media (max-width: 500px) {
  .Theslider .cara {
    padding: 0 35px;
  }
}
.Theslider .cara p:first-of-type {
  color: var(--main-color);
  direction: rtl;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  margin: 0;
}
.Theslider .cara p:nth-child(2) {
  font-weight: 600;
  font-size: 16px;
}
.Theslider .cara p:nth-child(3) {
  font-weight: 600;
  font-size: 12px;
  padding: 0 10px;
  margin: 20px 0;
  color: gray;
}
.Theslider .cardi {
  box-shadow: 0px 4px 8px 0px rgba(42, 42, 42, 0.2509803922);
  overflow: hidden;
  border-radius: 12px;
}

.Footer {
  overflow: hidden;
  font-family: "Cairo", sans-serif;
}
.Footer__in {
  color: white;
  background-color: var(--main-color);
  margin: 20px 0 0 0;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}

.Sign-in {
  font-family: "Cairo", sans-serif;
}
.Sign-in .Sign-in__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 87vh;
  width: 100vw;
}
.Sign-in .Sign-in__inner .sign-in__inner__form {
  height: 65vh;
  margin-bottom: 75px;
  box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 20px 100px;
}
@media (max-width: 1200px) {
  .Sign-in .Sign-in__inner .sign-in__inner__form {
    padding: 20px 20px;
  }
}
.Sign-in .Sign-in__inner .sign-in__inner__form h2 {
  direction: rtl;
  text-align: center;
  margin: 30px;
}
.Sign-in .Sign-in__inner .sign-in__inner__form form {
  display: flex;
  flex-direction: column;
}
.Sign-in .Sign-in__inner .sign-in__inner__form form select,
.Sign-in .Sign-in__inner .sign-in__inner__form form input {
  direction: rtl;
  margin: 15px 0;
  height: 55px;
  border-radius: 8px;
  padding: 12px;
  border: 1px solid grey;
}
.Sign-in .Sign-in__inner .sign-in__inner__form form .rem {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  height: 20px;
}
.Sign-in .Sign-in__inner .sign-in__inner__form form .rem > div {
  display: flex;
  align-items: center;
}
.Sign-in .Sign-in__inner .sign-in__inner__form form .rem > div > label {
  margin: 5px;
}
.Sign-in .Sign-in__inner .sign-in__inner__form form .rem a {
  text-decoration: none;
}
.Sign-in .Sign-in__inner .sign-in__inner__form form .sub {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
}
.Sign-in .Sign-in__inner .sign-in__inner__form form .sub button {
  width: 52%;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px;
}
.Sign-in .Sign-in__inner .sign-in__inner__form form .sub > div {
  font-size: 12px;
  font-weight: 400;
}
.Sign-in .Sign-in__inner .sign-in__inner__form form .sub > div a {
  text-decoration: none;
}
.Sign-in .Footer__in {
  position: absolute;
  bottom: 0;
}

.Signup {
  font-family: "Cairo", sans-serif;
  position: relative;
  height: 106vh;
}
.Signup .Signup__inner {
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.Signup .Signup__inner .signup__inner__form {
  flex-direction: column;
  display: flex;
  height: 100vh;
  align-items: center;
  box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 20px;
}
@media (max-width: 1200px) {
  .Signup .Signup__inner .signup__inner__form {
    padding: 20px 20px;
  }
}
.Signup .Signup__inner .signup__inner__form form {
  display: flex;
  flex-direction: column;
  width: 85%;
}
.Signup .Signup__inner .signup__inner__form form input, .Signup .Signup__inner .signup__inner__form form select {
  direction: rtl;
  margin: 15px 0;
  height: 55px;
  border-radius: 8px;
  padding: 12px;
  border: 1px solid grey;
}
.Signup .Signup__inner .signup__inner__form form .gender {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.Signup .Signup__inner .signup__inner__form form .gender .male,
.Signup .Signup__inner .signup__inner__form form .gender .female {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.Signup .Signup__inner .signup__inner__form form .gender .male label,
.Signup .Signup__inner .signup__inner__form form .gender .female label {
  margin: 0 10px;
}
.Signup .Signup__inner .signup__inner__form form .sub {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
}
.Signup .Signup__inner .signup__inner__form form .sub button {
  width: 52%;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px;
}
.Signup .Signup__inner .signup__inner__form form .sub > div {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 400;
}
.Signup .Signup__inner .signup__inner__form form .sub > div a {
  text-decoration: none;
}

.Success {
  font-family: "Cairo", sans-serif;
}
.Success__in {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Success__in__card {
  text-align: center;
}
.Success__in__card p {
  font-size: 14px;
  font-weight: 400;
}
.Success__in__card button {
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  transition: all 0.3s;
}
.Success__in__card button:hover {
  background-color: var(--main-color);
  color: white;
}
.Success .Footer__in {
  position: absolute;
  bottom: 0;
}

.Application {
  font-family: "Cairo", sans-serif;
  position: relative;
  height: 115vh;
}
.Application__inner {
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.Application__inner__form {
  flex-direction: column;
  display: flex;
  height: 110vh;
  align-items: center;
  box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 20px;
}
@media (max-width: 1200px) {
  .Application__inner__form {
    padding: 20px 20px;
  }
}
.Application__inner__form form {
  display: flex;
  flex-direction: column;
  width: 85%;
}
.Application__inner__form form input[type=file] {
  display: none;
}
.Application__inner__form form label, .Application__inner__form form .btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.Application__inner__form form label img {
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 10px;
}
.Application__inner__form form label p {
  color: gray;
  font-weight: 500;
  font-size: 16px;
}
.Application__inner__form form div, .Application__inner__form form select {
  direction: rtl;
  margin: 15px 0;
  height: 55px;
  border-radius: 8px;
  padding: 12px;
  border: 1px solid grey;
}
.Application__inner__form form .btns {
  border: none;
}
.Application__inner__form form .btns button {
  width: 140px;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
}
.Application__inner__form form .btns .right {
  color: white;
  border: none;
}
.Application__inner__form form .btns .left {
  color: var(--main-color);
  background-color: white;
  border: 1px solid var(--main-color);
  transition: all 0.3s;
}
.Application__inner__form form .btns .left:hover {
  background-color: var(--main-color);
  color: white;
}

.Programs {
  font-family: "Cairo", sans-serif;
  position: relative;
}
.Programs__in {
  height: 100%;
  direction: rtl;
  padding: 20px 60px 0;
  min-height: 76vh;
}
@media (max-width: 400px) {
  .Programs__in {
    padding: 20px 10px 0 0;
  }
}
.Programs__in__top {
  display: flex;
  justify-content: space-between;
}
.Programs__in__top input {
  padding: 10px 16px 10px 16px;
  border-radius: 8px;
  width: 326px;
  height: 50px;
  border: 1px solid grey;
}
.Programs__in h2 {
  color: var(--main-color);
  margin-bottom: 40px;
}
.Programs__in ol li {
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
  margin: 15px 0;
}

.Applicants {
  font-family: "Cairo", sans-serif;
  position: relative;
}
.Applicants__in {
  height: 100%;
  direction: rtl;
  padding: 20px 60px 0;
  min-height: 76vh;
}
@media (max-width: 400px) {
  .Applicants__in {
    padding: 20px 10px 0 0;
  }
}
.Applicants__in__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.Applicants__in__top input {
  padding: 10px 16px 10px 16px;
  border-radius: 8px;
  width: 326px;
  height: 50px;
  border: 1px solid grey;
}
.Applicants__in__top h2 {
  color: var(--main-color);
}
.Applicants__in ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 155px;
}
@media (max-width: 1000px) {
  .Applicants__in ol {
    grid-template-columns: 1fr;
  }
}
.Applicants__in ol .Applicants__in__bot {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  box-shadow: 0px 3.2765216827px 26.2121734619px 0px rgba(0, 0, 0, 0.2509803922);
}
.Applicants__in ol .Applicants__in__bot li {
  color: var(--main-color);
  font-weight: 600;
  font-size: 30px;
}
.Applicants__in ol .Applicants__in__bot p {
  font-weight: 500;
  font-size: 20px;
  color: grey;
}
.Applicants__in ol .Applicants__in__bot > div {
  padding-right: 30px;
}
.Applicants__in ol .Applicants__in__bot button {
  align-items: end;
  display: flex;
  background: white;
  border: none;
}
.Applicants__in ol .Applicants__in__bot button div {
  border-radius: 50%;
  transition: all 0.3s;
  padding: 10px;
}
.Applicants__in ol .Applicants__in__bot button div img {
  width: 30px;
}
.Applicants__in ol .Applicants__in__bot button div:hover {
  background-color: lightgray;
}

.Table {
  font-family: "Cairo", sans-serif;
  position: relative;
}
.Table__in {
  height: 100%;
  direction: rtl;
  padding: 20px 60px 0;
  min-height: 76vh;
}
@media (max-width: 400px) {
  .Table__in {
    padding: 20px 10px 0 0;
  }
}
.Table__in__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.Table__in__top input {
  padding: 10px 16px 10px 16px;
  border-radius: 8px;
  width: 326px;
  height: 50px;
  border: 1px solid grey;
}
.Table__in__top h2 {
  color: var(--main-color);
}
.Table__in__bot table {
  width: 100%;
}
.Table__in__bot table thead {
  color: white;
  background: var(--main-color);
}
.Table__in__bot table thead th {
  padding: 10px 20px;
  font-weight: 400;
  font-size: 18px;
}
.Table__in__bot table thead th:first-of-type {
  width: 120px;
}
.Table__in__bot table th, .Table__in__bot table td {
  border: 1px solid black;
}
.Table__in__bot table td {
  padding: 15px;
  background-color: #F2F2F2;
}
.Table__in__bot table tr td:first-of-type {
  text-align: center;
}
.Table__in .but {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.Table__in .but button {
  height: 55px;
  width: 200px;
  background: var(--main-color);
  color: white;
  border: none;
  border-radius: 10px;
}
.Table__in .but button:hover {
  background-color: var(--btn-hover);
}
.Table__in .but button:active {
  background-color: var(--btn-active);
}

.Cric {
  font-family: "Cairo", sans-serif;
  position: relative;
}
.Cric__in {
  height: 100%;
  direction: rtl;
  padding: 20px 60px 0;
  min-height: 76vh;
}
@media (max-width: 400px) {
  .Cric__in {
    padding: 20px 10px 0 0;
  }
}
.Cric__in__top {
  display: flex;
  justify-content: space-between;
}
.Cric__in__top input {
  padding: 10px 16px 10px 16px;
  border-radius: 8px;
  width: 326px;
  height: 50px;
  border: 1px solid grey;
}
.Cric__in h2 {
  color: var(--main-color);
  margin-bottom: 40px;
}
.Cric__in ol li {
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
  margin: 15px 0;
}

.Account {
  font-family: "Cairo", sans-serif;
  position: relative;
  height: 106vh;
}
.Account .Account__inner {
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.Account .Account__inner .Account__inner__form {
  flex-direction: column;
  display: flex;
  height: 100vh;
  align-items: center;
  box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 20px;
}
@media (max-width: 1200px) {
  .Account .Account__inner .Account__inner__form {
    padding: 20px 20px;
  }
}
.Account .Account__inner .Account__inner__form form {
  display: flex;
  flex-direction: column;
  width: 85%;
}
.Account .Account__inner .Account__inner__form form input, .Account .Account__inner .Account__inner__form form select {
  direction: rtl;
  margin: 15px 0;
  height: 55px;
  border-radius: 8px;
  padding: 12px;
  border: 1px solid grey;
}
.Account .Account__inner .Account__inner__form form .gender {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.Account .Account__inner .Account__inner__form form .gender .male,
.Account .Account__inner .Account__inner__form form .gender .female {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.Account .Account__inner .Account__inner__form form .gender .male label,
.Account .Account__inner .Account__inner__form form .gender .female label {
  margin: 0 10px;
}
.Account .Account__inner .Account__inner__form form .sub {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.Account .Account__inner .Account__inner__form form .sub button {
  width: 52%;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px;
  margin: 0 10px;
}
.Account .Account__inner .Account__inner__form form .sub > div {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 400;
}
.Account .Account__inner .Account__inner__form form .sub > div a {
  text-decoration: none;
}
.Account .Account__inner .Account__inner__form form .sub .delete {
  color: red;
  background-color: white;
  border: 1px solid red;
}
.Account .Account__inner .Account__inner__form form .sub .delete:hover {
  background-color: lightgrey;
}

.Mydiplomas {
  font-family: "Cairo", sans-serif;
}
.Mydiplomas .Diploma {
  min-height: 76vh;
}
.Mydiplomas .Diploma .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px 60px;
  padding: 55px;
}
.Mydiplomas .Diploma .cards .card {
  box-shadow: 0px 3.2765216827px 26.2121734619px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 10px;
  text-align: center;
}
.Mydiplomas .Diploma .cards .card h2 {
  color: var(--main-color);
  font-weight: 600;
  font-size: 32px;
}
.Mydiplomas .Diploma .cards .card p:first-of-type {
  color: var(--main-color);
  font-weight: 500;
  font-size: 28px;
}

.Regsubs {
  font-family: "Cairo", sans-serif;
}
.Regsubs__in {
  min-height: 76vh;
  direction: rtl;
  padding: 40px 40px 0;
}
.Regsubs__in h2 {
  color: var(--main-color);
  font-weight: 600;
  font-size: 40px;
}
@media (max-width: 400px) {
  .Regsubs__in h2 {
    font-size: 30px;
  }
}
.Regsubs__in__two {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  min-height: 300px;
}
@media (max-width: 650px) {
  .Regsubs__in__two {
    flex-direction: column;
  }
}
.Regsubs__in__two__right, .Regsubs__in__two__left {
  width: 50%;
  padding: 0;
  list-style: none;
}
@media (max-width: 650px) {
  .Regsubs__in__two__right, .Regsubs__in__two__left {
    width: 100%;
  }
}
.Regsubs__in__two__right ul, .Regsubs__in__two__left ul {
  list-style: none;
  padding: 0;
}
.Regsubs__in__two__right ul li, .Regsubs__in__two__left ul li {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;
}
@media (max-width: 650px) {
  .Regsubs__in__two__right ul li, .Regsubs__in__two__left ul li {
    font-size: 12px;
  }
}
.Regsubs__in__two__right ul li button, .Regsubs__in__two__left ul li button {
  background-color: transparent;
  border: none;
}
.Regsubs__in__two__right p, .Regsubs__in__two__left p {
  font-size: 16px;
  font-weight: 500;
  color: #7F7C7E;
}
@media (max-width: 400px) {
  .Regsubs__in__two__right p, .Regsubs__in__two__left p {
    font-size: 13px;
  }
}
.Regsubs__in__two__left {
  text-align: center;
  margin-right: 80px;
}
@media (max-width: 650px) {
  .Regsubs__in__two__left {
    margin-right: 0;
  }
}
.Regsubs__in .butts {
  display: flex;
  padding-top: 40px;
}
.Regsubs__in .butts .space {
  width: 85%;
}
.Regsubs__in .butts .two {
  display: flex;
  flex-direction: column;
}
.Regsubs__in .butts .two button {
  height: 50px;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
}
.Regsubs__in .butts .two button:first-of-type {
  color: white;
}
.Regsubs__in .butts .two button:last-of-type {
  color: var(--main-color);
  background-color: white;
  border: 1px solid var(--main-color);
}
.Regsubs__in .butts .two button:last-of-type:hover {
  background-color: lightgrey;
}
.Regsubs__in .butts .two .save:active {
  background-color: lightblue;
}

.one {
  background: #EFF5FB;
}

.two {
  background: #FAFDFF;
}

.Appinfo {
  font-family: "Cairo", sans-serif;
  direction: rtl;
}
.Appinfo__in {
  min-height: 100vh;
  padding: 30px 30px 0;
}
@media (max-width: 500px) {
  .Appinfo__in {
    padding: 30px 0 0;
  }
}
.Appinfo__in h2 {
  color: var(--main-color);
  font-weight: 400;
  font-size: 40px;
}
@media (max-width: 500px) {
  .Appinfo__in h2 {
    font-size: 25px;
  }
}

.Lock {
  padding: 30px 30px 0 0;
}
@media (max-width: 500px) {
  .Lock {
    padding: 30px 0 0;
  }
}
.Lock form {
  display: flex;
  flex-direction: column;
  width: 45%;
}
@media (max-width: 1400px) {
  .Lock form {
    width: 60%;
  }
}
@media (max-width: 1000px) {
  .Lock form {
    width: 100%;
  }
}
.Lock form > div {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  position: relative;
}
.Lock form > div img {
  position: absolute;
  top: 10px;
  left: 7px;
  width: 18px;
}
.Lock form > div > div {
  direction: ltr;
  width: 32%;
}
.Lock form > div label {
  font-weight: 500;
  font-size: 18px;
}
@media (max-width: 400px) {
  .Lock form > div label {
    font-size: 12px;
  }
}
.Lock form > div input, .Lock form > div textarea {
  width: 65%;
  height: 37px;
  border-radius: 7px;
  border: 1px solid grey;
  padding: 10px;
}
.Lock form > div textarea {
  resize: none;
  height: 80px;
}
.Lock form > div select {
  width: 64%;
  height: 37px;
  border-radius: 7px;
  border: 1px solid grey;
}

.Appemp {
  font-family: "Cairo", sans-serif;
  direction: rtl;
}
.Appemp__in {
  min-height: 100vh;
  padding: 30px 30px 0;
}
@media (max-width: 500px) {
  .Appemp__in {
    padding: 30px 0 0;
  }
}
.Appemp__in h2 {
  color: var(--main-color);
  font-weight: 400;
  font-size: 40px;
}
@media (max-width: 500px) {
  .Appemp__in h2 {
    font-size: 25px;
  }
}/*# sourceMappingURL=main.css.map */