.Theslider {
    width: 100%;
    text-align: center;
    padding: 50px 0;
    height: 80vh;

    @media (max-width: 720px) {
        height: 88vh;
    }

    h2 {
        color: var(--main-color);
        font-weight: 600;
        font-size: 40px;
    }

    .cara {
        padding: 0 80px;

        @media (max-width: 500px) {
            padding: 0 35px;
        }

        p:first-of-type {
            color: var(--main-color);
            direction: rtl;
            font-weight: 400;
            font-size: 16px;
            text-align: center;
            font-weight: 700;
            font-size: 18px;
            margin: 0;
        }
    
        p:nth-child(2) {
            font-weight: 600;
            font-size: 16px;
        }

        p:nth-child(3) {
            font-weight: 600;
            font-size: 12px;
            padding: 0 10px;
            margin: 20px 0;
            color: gray;
        }
    }

    .cardi {
        box-shadow: 0px 4px 8px 0px #2A2A2A40;
        overflow: hidden;
        border-radius: 12px;
    }
}